@font-face{
  font-family: Francois;
  src: url("../FrancoisOne-Regular/FrancoisOne-Regular.ttf");
}
@font-face{
  
  font-family: Montserratbold;
  src: url("../Montserratbold/Montserrat-Bold.ttf");
}
@font-face{
  
  font-family: Montserratsemibold;
  src: url("../Montserratsemibold/Montserrat-SemiBold.ttf");
}
@font-face{
  
  font-family: Montserratmedium;
  src: url("../Montserratmedium/Montserrat-Medium.ttf");
}
@font-face{
  
  font-family: vuja;
  src: url("../vuja/VujahdayScript-Regular.ttf");
}
/*-------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;background: linear-gradient(180deg, #171a19 0%, #1b2321 100%);
  }
  .v1_2 {
    /*div mayor*/
    width: 1440px;    height: 8131px;
    position: relative;   top: 0px;   left: 250px;
    overflow: hidden; background-color: #ffffff;}


/*//////////////////////////////////////////////////*/
  .v20_29 {
    /*div grande 1*/
    width: 1440px;
    height: 1018px;
    background: linear-gradient(180deg, #DCDCDC 0%, #FFFFFF 100%);
    background-size: cover;
    opacity: 1;
    position: absolute;
    border: 0px solid rgba(0,0,0,1);
    overflow: hidden;
  }

  .v7_84_1{
    width: 144px;
    height: 144px;
    background: url("../images/v7_84.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 103px;
    overflow: hidden;
  
  }
  
  header {
    
    position: absolute; 
    top: 47px; 
    left: 317px; 
    padding: 1em;
    text-align: center;
    line-height: 26.82px;
    letter-spacing: 10%;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 120px;
  }
  
  nav a {
    color: #ffffff; 
  font-family: Montserratsemibold;
  font-weight: 600;
  font-size: 20px;
  line-height: 32.91px;
  }
  
  nav a:hover {
    color:#095237;
    ; 
  }

  .recuam {
    /*recuam*/
    width: 1219px;
    height: 147px;
    background: rgba(249, 180, 25, 1);
    background-size: cover;
    opacity: 1;
    position: absolute;
    border: 0px solid rgba(0,0,0,1);
    overflow: hidden;
    top: 447px;
    left: 122px;
  }
  .recuv{
    width: 622px;
    height: 178px;
    background: rgba(9, 82, 55, 1);

    background-size: cover;
    opacity: 1;
    position: absolute;
    border: 0px solid rgba(0,0,0,1);
    overflow: hidden;
    top: 431px;
    left: 103px;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
  }
  .defe{
    width: 1181px;
    height: 78px;
    color: rgba(9, 82, 55, 1);
    opacity: 1;
    position: absolute;
    top: 472px;
    left: 146px;
    overflow: hidden;
    font-family: Montserratbold;
    font-weight: 700;
    font-size: 80px;
    line-height: 97.52px;
    letter-spacing: 0%;
    text-align: center;
  }
  /*//////////////////////////////////////////////////*/
  .v20_9 {
    /*div grande2*/
    width: 1440px;
    height: 674px;
    opacity: 1;
    position: absolute;
    top: 1016px;
    border: 0px solid rgba(0,0,0,1);
    overflow: hidden;
    background: linear-gradient(180deg, #097A59 0%, #0C9B72 91.83%, rgba(102, 102, 102, 0.15) 100%);
  }
    .defeiz{
      width: 345px;
      height: 280px;
      color: rgba(255, 255, 255, 1);
      opacity: 1;
      position: absolute;
      top: 1233px;
      left: 122px;
      overflow: hidden;
      font-family: Montserratmedium;
      font-weight: 400;
      font-size: 29px;
      line-height: 35.35px;
      letter-spacing: 0%;
      text-align: center;
    }
    .defede{
      width: 324px;
      height: 371px;
      color: rgba(255, 255, 255, 1);
      opacity: 1;
      position: absolute;
      top: 1126px;
      left: 1000px;
      overflow: hidden;
      font-family: Montserratmedium;
      font-weight: 400;
      font-size: 28px;
      line-height: 34.13px;
      letter-spacing: 0%;
      text-align: center;
    }
    .defimg{
      width: 487px;
    height: 629px;
    background: url("../images/CAR1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1016px;
    left: 487px;
     overflow: hidden;
    }
    
/*//////////////////////////////////////////////////*/


  .v6_46{
    /*div grande3*/
    width: 1440px;
    height: 2770px;
    background: linear-gradient(180deg, rgba(206, 206, 206, 0.49) 0%, #D1D1D1 12.83%, #FBFBFB 91.83%, #DCDCDC 100%);
    opacity: 1;
    position: absolute;
    top: 1690px;
    border: 0px solid rgba(0,0,0,1);
    overflow: hidden;
  }

  .frate{
    width: 385px;
      height: 90px;
      top: 1719px;
      left: 537px;
      font-weight: 700;
      font-size: 40px;
      line-height: 48.76px;
      letter-spacing: 0%;
      color: rgba(9, 82, 55, 1);

      opacity: 1;
      position: absolute;
      overflow: hidden;
      font-family: Montserratbold;
      text-align: center;
  }

  .lalla{
    width: 508px;
      height: 96px;
      top: 2055px;
      left: 706px;
      font-weight: 600;
      font-size: 36px;
      line-height: 43.88px;
      letter-spacing: 0%;
      color: rgba(9, 82, 55, 1);
      opacity: 1;
      position: absolute;
      overflow: hidden;
      font-family: Montserratsemibold;
      text-align: center;
  }
  .lalla2{
      width: 544px;
      height: 39px;
      top: 2262px;
      left: 688px;
      font-weight: 600;
      font-size: 16px;
      line-height: 19.5px;
      letter-spacing: 0%;
      color: rgba(9, 82, 55, 1);
      opacity: 1;
      position: absolute;
      overflow: hidden;
      font-family: Montserratmedium;
      text-align: center;
  }
  .lamo{
    width: 506px;
      height: 228px;
      top: 2652px;
      left: 224px;
      font-weight: 600;
      font-size: 36px;
      line-height: 43.88px;
      letter-spacing: 0%;
      color: rgba(9, 82, 55, 1);
      opacity: 1;
      position: absolute;
      overflow: hidden;
      font-family: Montserratsemibold;
      text-align: center;
  }
  .lamo2{
      width: 707px;
      height: 39px;
      top: 2900px;
      left: 122px;
      font-weight: 600;
      font-size: 16px;
      line-height: 19.5px;
      letter-spacing: 0%;
      color: rgba(9, 82, 55, 1);
      opacity: 1;
      position: absolute;
      overflow: hidden;
      font-family: Montserratmedium;
      text-align: center;
  }

  .losti{
    width: 509px;
      height: 176px;
      top: 3313px;
      left: 706px;
      font-weight: 600;
      font-size: 36px;
      line-height: 43.88px;
      letter-spacing: 0%;
      color: rgba(9, 82, 55, 1);
      opacity: 1;
      position: absolute;
      overflow: hidden;
      font-family: Montserratsemibold;
      text-align: center;
  }
  .losti2{
      width: 611px;
      height: 39px;
      top: 3517px;
      left: 655px;
      font-weight: 600;
      font-size: 16px;
      line-height: 19.5px;
      letter-spacing: 0%;
      color: rgba(9, 82, 55, 1);
      opacity: 1;
      position: absolute;
      overflow: hidden;
      font-family: Montserratmedium;
      text-align: center;
  }
  .losto{
    width: 481px;
      height: 178px;
      top: 3829px;
      left: 225px;
      font-weight: 600;
      font-size: 36px;
      line-height: 43.88px;
      letter-spacing: 0%;
      color: rgba(9, 82, 55, 1);
      opacity: 1;
      position: absolute;
      overflow: hidden;
      font-family: Montserratsemibold;
      text-align: center;
  }
  .losto2{
      width: 706px;
      height: 39px;
      top: 4140px;
      left: 122px;
      font-weight: 600;
      font-size: 16px;
      line-height: 19.5px;
      letter-spacing: 0%;
      color: rgba(9, 82, 55, 1);
      opacity: 1;
      position: absolute;
      overflow: hidden;
      font-family: Montserratmedium;
      text-align: center;
  }

  .diva{
    width: 586px;
    height: 600px;
    background: rgba(249, 180, 25, 1);
    background-size: cover;
    opacity: 1;
    position: absolute;
    border: 0px solid rgba(0,0,0,1);
    overflow: hidden;
    top: 1880px;
    border-bottom-right-radius: 21px;
    border-top-right-radius: 21px;
  }

  .divv{
    width: 700px;
    height: 600px;
    background: rgba(9, 82, 55, 1);
    background-size: cover;
    opacity: 1;
    position: absolute;
    border: 0px solid rgba(0,0,0,1);
    overflow: hidden;
    top: 2497px;
    left: 850px;
    border-bottom-left-radius: 21px;
    border-top-left-radius: 21px;
  }
.diva2{
  width: 586px;
  height: 600px;
  background: rgba(249, 180, 25, 1);
  background-size: cover;
  opacity: 1;
  position: absolute;
  border: 0px solid rgba(0,0,0,1);
  overflow: hidden;
  top: 3134px;
  border-bottom-right-radius: 21px;
  border-top-right-radius: 21px;
}

.divv2{
  width: 700px;
    height: 600px;
    background: rgba(9, 82, 55, 1);
    background-size: cover;
    opacity: 1;
    position: absolute;
    border: 0px solid rgba(0,0,0,1);
    overflow: hidden;
    top: 3755px;
    left: 850px;
    border-bottom-left-radius: 21px;
    border-top-left-radius: 21px;
  
}

.img1{
  width: 462px;
  height: 563px;
  background: url("../images/cartelllamerada.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1896px;
  left: 123px;
   overflow: hidden;
   border-radius: 21px;
}
.img2{
  width: 463px;
  height: 563px;
  background: url("../images/cartelmorenada.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2514px;
  left: 850px;
   overflow: hidden;
   border-radius: 21px;

}
.img3{
  width: 465px;
  height: 563px;
  background: url("../images/carteltinkus.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3153px;
  left: 122px;
   overflow: hidden;
   border-radius: 21px;
}
.img4{
  width: 465px;
    height: 563px;
    background: url("../images/carteltobas.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3772px;
    left: 851px;
     overflow: hidden;
     border-radius: 21px;
}






  /*//////////////////////////////////////////////////*/
  .v6_47b{
  /*div grande4*/
  width: 1440px;
  height: 1018px;
  opacity: 1;
  position: absolute;
  top: 4460px;
  border: 0px solid rgba(0,0,0,1);
  overflow: hidden;
  background: linear-gradient(180deg, #DCDCDC 0%, #FCFCFC 34.83%, #FFFFFF 80.33%, #E4E4E4 100%);
}

.recuam2 {
  /*recuam*/
  width: 1219px;
  height: 203px;
  background: rgba(249, 180, 25, 1);
  background-size: cover;
  opacity: 1;
  position: absolute;
  border: 0px solid rgba(0,0,0,1);
  overflow: hidden;
  top: 4868px;
  left: 120px;
}
.recuv2{
  width: 622px;
  height: 246px;
  background: rgba(9, 82, 55, 1);
  background-size: cover;
  opacity: 1;
  position: absolute;
  border: 0px solid rgba(0,0,0,1);
  overflow: hidden;
  top: 4846px;
  left: 101px;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
}
.defe2{
  width: 800px;
  height: 221px;
  color: rgba(9, 82, 55, 1);
  opacity: 1;
  position: absolute;
  top: 4878px;
  left: 318px;
  overflow: hidden;
  font-family: Montserratbold;
  font-weight: 700;
  font-size: 80px;
  line-height: 97.52px;
  letter-spacing: 0%;
  text-align: center;
}









  /*//////////////////////////////////////////////////*/
  .v6_48b{
    /*div grande5*/
    width: 1440px;
    height: 2285px;
    opacity: 1;
    position: absolute;
    top: 5478px;
    border: 0px solid rgba(0,0,0,1);
    overflow: hidden;
    background: linear-gradient(180deg, #DCDCDC 0%, #FCFCFC 34.83%, #FFFFFF 80.33%, #E4E4E4 100%);
  
  }
  
  .lallap{
    width: 474px;
      height: 88px;
      top: 5544px;
      left: 775px;
      font-weight: 700;
      font-size: 36px;
      line-height: 43.88px;
      letter-spacing: 0%;
      color: rgba(9, 82, 55, 1);
      opacity: 1;
      position: absolute;
      overflow: hidden;
      font-family: Montserratsemibold;
      text-align: center;
  }
  .lalla2p{
      width: 544px;
      height: 308px;
      top: 5678px;
      left: 775px;
      font-weight: 400;
      font-size: 18px;
      line-height: 21.94px;
      letter-spacing: 0%;
      color: rgba(9, 82, 55, 1);
      opacity: 1;
      position: absolute;
      overflow: hidden;
      font-family: Montserratmedium;
      text-align: justified;
  }
  .lamop{
    width: 474px;
      height: 88px;
      top: 6091px;
      left: 83px;
      font-weight: 700;
      font-size: 36px;
      line-height: 43.88px;
      letter-spacing: 0%;
      color: rgba(9, 82, 55, 1);
      opacity: 1;
      position: absolute;
      overflow: hidden;
      font-family: Montserratsemibold;
      text-align: left;
  }
  .lamo2p{
      width: 543px;
      height: 227px;
      top: 6228px;
      left: 83px;
      font-weight: 400;
      font-size: 18px;
      line-height: 21.94px;
      letter-spacing: 0%;
      color: rgba(9, 82, 55, 1);
      opacity: 1;
      position: absolute;
      overflow: hidden;
      font-family: Montserratmedium;
      text-align: justified;
  }

  .lostip{
    width: 381px;
      height: 300px;
      top: 6680px;
      left: 525px;
      font-weight: 700;
      font-size: 36px;
      line-height: 43.88px;
      letter-spacing: 0%;
      color: rgba(9, 82, 55, 1);
      opacity: 1;
      position: absolute;
      overflow: hidden;
      font-family: Montserratsemibold;
      text-align: justified;
  }
  .losti2p{
      width: 382px;
      height: 264px;
      top: 6857px;
      left: 525px;
      font-weight: 400;
      font-size: 18px;
      line-height: 21.94px;
      letter-spacing: 0%;
      color: rgba(9, 82, 55, 1);
      opacity: 1;
      position: absolute;
      overflow: hidden;
      font-family: Montserratmedium;
      text-align: justified;
  }
  .lostop{
    width: 474px;
      height: 88px;
      top: 7277px;
      left: 730px;
      font-weight: 700;
      font-size: 36px;
      line-height: 43.88px;
      letter-spacing: 0%;
      color: rgba(9, 82, 55, 1);
      opacity: 1;
      position: absolute;
      overflow: hidden;
      font-family: Montserratsemibold;
      text-align: center;
  }
  .losto2p{
      width: 543px;
      height: 210px;
      top: 7407px;
      left: 729px;
      font-weight: 400;
      font-size: 18px;
      line-height: 21.94px;
      letter-spacing: 0%;
      color: rgba(9, 82, 55, 1);
      opacity: 1;
      position: absolute;
      overflow: hidden;
      font-family: Montserratmedium;
      text-align: justified;
  }

  .divap{
    width: 711px;
    height: 481px;
    background: rgba(249, 180, 25, 1);
    background-size: cover;
    opacity: 1;
    position: absolute;
    border: 0px solid rgba(0,0,0,1);
    overflow: hidden;
    top: 5480px;
    border-bottom-right-radius: 21px;
    border-top-right-radius: 21px;
    
  }

  .divvp{
    width: 711px;
    height: 481px;
    background: rgba(9, 82, 55, 1);
    background-size: cover;
    opacity: 1;
    position: absolute;
    border: 0px solid rgba(0,0,0,1);
    overflow: hidden;
    top: 6048px;
    right: 0px;
    border-bottom-left-radius: 21px;
    border-top-left-radius: 21px;
  }
.diva2p{
  width: 508px;
  height: 481px;
  background: rgba(249, 180, 25, 1);
  background-size: cover;
  opacity: 1;
  position: absolute;
  border: 0px solid rgba(0,0,0,1);
  overflow: hidden;
  top: 6660px;
  border-bottom-right-radius: 21px;
  border-top-right-radius: 21px;
}
.diva2p2{
  width: 508px;
  height: 481px;
  background: rgba(249, 180, 25, 1);
  background-size: cover;
  opacity: 1;
  position: absolute;
  border: 0px solid rgba(0,0,0,1);
  overflow: hidden;
  top: 6660px;
  right: 0px;
  border-bottom-right-radius: 21px;
  border-top-right-radius: 21px;
  transform: rotate(180deg);
}

.divv2p{
  width: 609px;
    height: 481px;
    background: rgba(9, 82, 55, 1);
    background-size: cover;
    opacity: 1;
    position: absolute;
    border: 0px solid rgba(0,0,0,1);
    overflow: hidden;
    top: 7228px;
    left: 0px;
    border-bottom-left-radius: 21px;
    border-top-left-radius: 21px;
    transform: rotate(180deg);
   
  
}

.img1p{
  width: 541px;
  height: 436px;
  background: url("../images/morenos1.jfif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5501px;
  left: 141px;
   overflow: hidden;
   border-radius: 21px;
}
.img2p{
  width: 541px;
  height: 436px;
  background: url("../images/morenas1.jfif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6072px;
  left: 758px;
   overflow: hidden;
   border-radius: 21px;

}
.img3p{
  width: 416px;
  height: 436px;
  background: url("../images/popo.jfif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6680px;
  left: 69px;
   overflow: hidden;
   border-radius: 21px;
}
.img3pp{
  width: 416px;
  height: 436px;
  background: url("../images/popo2.jfif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6680px;
  right: 66px;
   overflow: hidden;
   border-radius: 21px;
  


}
.img4p{
  width: 356px;
    height: 436px;
    background: url("../images/salaychica.jfif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 7250px;
    left: 169px;
     overflow: hidden;
     border-radius: 21px;
}
  /*//////////////////////////////////////////////////*/

  .v7_82 {
    /*caja grande 6*/
    width: 1440px;
    height: 368px;
    background: rgba(9,82,55,1);
    opacity: 1;
    position: absolute;
    top: 7763px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v7_100 {
    /*caja grande 6letra corre*/
    width: 259px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7922px;
    left: 124px;
    font-family: Montserratmedium;
    font-weight: 500;
    font-size: 22px;
    opacity: 1;
    text-align: left;
    line-height: 26.82px;
    letter-spacing: 0%;
  
  }
  .v7_101 {
    /*ciudad*/
    width: 204px;
    height: 23px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7987px;
    left: 124px;
    font-family: Montserratmedium;
    font-weight: 500;
    font-size: 22px;
    opacity: 1;
    text-align: left;
    line-height: 26.82px;
    letter-spacing: 0%;
  }
  .v7_102 {
    /*numero*/
    width: 204px;
    height: 24px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8028px;
    left: 124px;
    font-family: Montserratmedium;
    font-weight: 500;
    font-size: 22px;
    opacity: 1;
    text-align: left;
    line-height: 26.82px;
    letter-spacing: 0%;
  }
  .v7_86 {
    /*encuntranos*/
    width: 204px;
    height: 23px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7863px;
    left: 970px;
    font-family: Montserratmedium;
    font-weight: 500;
    font-size: 18px;
    opacity: 1;
    text-align: left;
    line-height: 21.24px;
    letter-spacing: 0%;
  }
  .v7_92 {
    /*historia*/
    width: 89px;
    height: 23px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7880px;
    left: 484px;
    font-family: Montserratmedium;
    font-weight: 500;
    font-size: 22px;
    opacity: 1;
    text-align: left;
    line-height: 26.82px;
    letter-spacing: 0%;
  }
  .v7_93 {
    /*terminis y cond*/
    width: 276px;
    height: 23px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7928px;
    left: 486px;
    font-family: Montserratmedium;
    font-weight: 500;
    font-size: 22px;
    opacity: 1;
    text-align: left;
    line-height: 26.82px;
    letter-spacing: 0%;
  }
  .v7_94 {
    /*politica de privacidad*/
    width: 255px;
    height: 25px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7975px;
    left: 484px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 22px;
    opacity: 1;
    text-align: left;
    line-height: 26.82px;
    letter-spacing: 0%;
  }
  .v7_88 {
    /*caja grande 6icono*/
    width: 41px;
    height: 41px;
    background-image: url("../images/icongx.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 7906px;
    left: 971px;
  }
  .v7_89 {
    /*caja grande 6icono*/
    width: 41px;
    height: 41px;
    background-image: url("../images/iconfb.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top:  7906px;
    left: 1030px;
  }
  .v7_90 {
    /*caja grande 6icono*/
    width: 41px;
    height: 41px;
    background-image: url("../images/iconwha.png");
    
    opacity: 1;
    position: absolute;
    top:  7906px;
    left: 1090px;
  }
  
  .v7_84 {
    /*caja grande 6iconotata*/
    width: 137px;
    height: 135px;
    background: url("../images/v7_84.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 7763px;
    left: 165px;
    overflow: hidden;
  }

  .v7_84line{
    width: 731px;
    height: 13px;
    background: rgba(249, 180, 25, 1);
    opacity: 1;
    position: absolute;
    top: 7763px;
    overflow: hidden;
  }
  .v7_84line2{
    width: 710px;
    height: 13px;
    background: rgba(22, 188, 140, 1);
  
  
    opacity: 1;
    position: absolute;
    top: 7763px;
    left: 731px;
    overflow: hidden;
  }



  .v7_84linewhite{
    width: 241px;
  
    opacity: 1;
    position: absolute;
    top: 7969px;
    left: 124px;
    overflow: hidden;
    border-width: 2px;
    border: 2px solid rgba(255, 255, 255, 1)
  
  }
  .v7_84linewhite2{
    width: 1193px;
    opacity: 1;
    position: absolute;
    top: 8067px;
    left: 124px;
    overflow: hidden;
    border-width: 2px;
    border: 2px solid rgba(255, 255, 255, 1)
  }
  .v7_84linewhitelet{
    width: 585px;
    height: 25px;
    color: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 8092px;
    left: 442px;
    overflow: hidden;
    font-family: Montserratmedium;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.63px;
    letter-spacing: 0%;
    text-align: center;
  
  }

  .divgranpo{
    width: 512px;
    height: 75px;
    color: rgba(249, 180, 25, 1);

    position: absolute;
    top: 5116px;
    left: 476px;
    font-family: vuja;
    font-weight: 400;
    font-size: 70px;
    opacity: 1;
    text-align: left;
    line-height: 95.2px;
    letter-spacing: 0%;
  }


  .divflecha{
 
    width: 56px;
    height: 59px;
    background: url("../images/flechaarriba.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 7640px;
    left: 1261px;
    overflow: hidden;
  }

  .v1_responsivo{
   
    position: absolute;
    
    left: -3000px;
    
    
    

  }


  @media (max-width: 768px) {
    * {
      box-sizing: border-box ;
    }
  
    body {
      font-size: 14px ;
      background: linear-gradient(180deg, #171a19 0%, #1b2321 100%);
    }
  
  
    .v1_responsivo{
      width: 360px;
      height: 7426px;
      opacity: 1;
      position: relative;
      top: 0px;
      left: 0px;
      overflow: hidden;
      margin: 0 auto;
      background: rgba(255, 255, 255, 1);

      

    }
    .v1_2{
      width: 0px;    height: 0px;
      position: relative;   top: 0px;   left: 250px;
      overflow: hidden;  background-color: rgba(0,0,0,1);
    }


    
    .v9_3 {
      width: 360px;
      height: 631px;
      background: linear-gradient(180deg, #DCDCDC 0%, #FFFFFF 100%);
      opacity: 1;
      position: relative;
      top: 0px;
      left: 0px;
      overflow: hidden;
    }
    .v9_4 {
      width: 360px;
      height: 631px;
      background: linear-gradient(rgba(220,220,220,1), rgba(255,255,255,1));
      opacity: 1;
      position: absolute;
      top: 3872px;
      left: 0px;
      overflow: hidden;
    }
    .v9_5 {
      width: 182px;
      color: rgba(9,122,89,1);
      position: absolute;
      top: 20px;
      left: 89px;
      font-family: Montserratbold;
      font-weight: Bold;
      font-size: 10px;
      opacity: 1;
      text-align: center;
    }
    .v9_6 {
      width: 56px;
      height: 57px;
      background: url("../images/v9_6.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 0px;
      left: 28px;
      overflow: hidden;
    }
    .v9_7 {
      width: 32px;
      height: 32px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: absolute;
      top: 20px;
      left: 313px;
      overflow: hidden;
    }
    .v9_8 {
      width: 24px;
      height: 18px;
      background: rgba(9,82,55,1);
      opacity: 1;
      position: absolute;
      top: 7px;
      left: 4px;
    }
    .v9_9 {
      width: 360px;
      height: 181px;
      background: linear-gradient(180deg, #097A59 0%, #0C9E74 100%);
      opacity: 1;
      position: absolute;
      top: 631px;
      left: 0px;
      overflow: hidden;
    }
    .v9_10 {
      width: 360px;
      height: 180px;
      background: linear-gradient(180deg, #097A59 0%, #0C9C72 100%);
      opacity: 1;
      position: absolute;
      top: 1263px;
      left: 0px;
      overflow: hidden;
    }
    .v9_11 {
      width: 329px;
      color: rgba(255,255,255,1);
      position: absolute;
      top: 1277px;
      left: 15px;
      font-family: Montserratmedium;
      font-weight: Medium;
      font-size: 16px;
      opacity: 1;
      text-align: center;
    }
    .v9_12 {
      width: 360px;
      height: 2429px;
      background: linear-gradient(180deg, #CECECE 0%, #FBFBFB 92.33%, #DDDDDD 100%);
      opacity: 1;
      position: absolute;
      top: 1443px;
      left: 0px;
      overflow: hidden;
    }
    .v9_13 {
      width: 360px;
      height: 451px;
      background: url("../images/v9_13.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 812px;
      left: 0px;
      overflow: hidden;
    }
    .v9_18 {
      width: 163px;
      height: 104px;
      background: rgba(9,82,55,1);
      opacity: 1;
      position: absolute;
      top: 261px;
      left: 19px;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 13px;
      overflow: hidden;
    }
    .v9_19 {
      width: 155px;
      height: 104px;
      background: rgba(9,82,55,1);
      opacity: 1;
      position: absolute;
      top: 4113px;
      left: 26px;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 13px;
      overflow: hidden;
    }
    .v9_20 {
      width: 317px;
      height: 86px;
      background: rgba(249,180,25,1);
      opacity: 1;
      position: absolute;
      top: 270px;
      left: 24px;
      overflow: hidden;
    }
    .v9_21 {
      width: 303px;
      height: 86px;
      background: rgba(249,180,25,1);
      opacity: 1;
      position: absolute;
      top: 4122px;
      left: 31px;
      overflow: hidden;
    }
    .v9_22 {
      width: 322px;
      color: rgba(9,82,55,1);
      position: absolute;
      top: 281px;
      left: 19px;
      font-family: Montserratbold;
      font-weight: Bold;
      font-size: 28px;
      opacity: 1;
      text-align: center;
    }
    .v9_23 {
      width: 322px;
      color: rgba(9,82,55,1);
      position: absolute;
      top: 4133px;
      left: 19px;
      font-family: Montserratbold;
      font-weight: Bold;
      font-size: 28px;
      opacity: 1;
      text-align: center;
    }
    .v9_24 {
      width: 319px;
      color: rgba(255,255,255,1);
      position: absolute;
      top: 666px;
      left: 20px;
      font-family: Montserratmedium;
      font-weight: Medium;
      font-size: 16px;
      opacity: 1;
      text-align: center;
    }
    .v9_25 {
      width: 314px;
      color: rgba(9,82,55,1);
      position: absolute;
      top: 1466px;
      left: 23px;
      font-family: Montserratbold;
      font-weight: Bold;
      font-size: 28px;
      opacity: 1;
      text-align: center;
    }
    .v9_26 {
      width: 195px;
      height: 330px;
      background: rgba(249,180,25,1);
      opacity: 1;
      position: absolute;
      top: 1482px;
      left: 15px;
      border-bottom-left-radius: 28px;
      border-bottom-right-radius: 31px;
      transform: rotate(-90deg);
      overflow: hidden;
    }
    .v9_27 {
      width: 153px;
      height: 182px;
      background: url("../images/v9_27.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 1557px;
      left: 103px;
      border-top-left-radius: 21px;
      border-top-right-radius: 21px;
      border-bottom-left-radius: 21px;
      border-bottom-right-radius: 21px;
      overflow: hidden;
    }
    .v9_28 {
      width: 181px;
      color: rgba(9,122,89,1);
      position: absolute;
      top: 1758px;
      left: 90px;
      font-family: Montserratsemibol;
      font-weight: SemiBold;
      font-size: 20px;
      opacity: 1;
      text-align: center;
    }
    .v9_29 {
      width: 196px;
      color: rgba(9,122,89,1);
      position: absolute;
      top: 1921px;
      left: 82px;
      font-family: Montserratmeium;
      font-weight: Medium;
      font-size: 14px;
      opacity: 1;
      text-align: center;
    }
    .v9_30 {
      width: 191px;
      height: 291px;
      background: rgba(9,82,55,1);
      opacity: 1;
      position: absolute;
      top: 2037px;
      left: 140px;
      border-bottom-left-radius: 28px;
      border-bottom-right-radius: 31px;
      overflow: hidden;
      transform: rotate(90deg);
    }
    .v9_31 {
      width: 151px;
      height: 171px;
      background: url("../images/v9_31.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 2100px;
      left: 104px;
      border-top-left-radius: 21px;
      border-top-right-radius: 21px;
      border-bottom-left-radius: 21px;
      border-bottom-right-radius: 21px;
      overflow: hidden;
    }
    .v9_32 {
      width: 183px;
      color: rgba(9,122,89,1);
      position: absolute;
      top: 2293px;
      left: 89px;
      font-family: Montserratsemibold;
      font-weight: SemiBold;
      font-size: 20px;
      opacity: 1;
      text-align: center;
    }
    .v9_33 {
      width: 205px;
      height: 310px;
      background: rgba(249,180,25,1);
      opacity: 1;
      position: absolute;
      top: 2634px;
      left: 18px;
      border-bottom-left-radius: 28px;
      border-bottom-right-radius: 31px;
      transform: rotate(-90deg);
      overflow: hidden;
    }
    .v9_34 {
      width: 153px;
      height: 180px;
      background: url("../images/v9_34.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 2698px;
      left: 103px;
      border-top-left-radius: 21px;
      border-top-right-radius: 21px;
      border-bottom-left-radius: 21px;
      border-bottom-right-radius: 21px;
      overflow: hidden;
    }
    .v9_35 {
      width: 183px;
      color: rgba(9,122,89,1);
      position: absolute;
      top: 2899px;
      left: 89px;
      font-family: Montserratsemibold;
      font-weight: SemiBold;
      font-size: 20px;
      opacity: 1;
      text-align: center;
    }
    .v9_36 {
      width: 191px;
      height: 291px;
      background: rgba(9,82,55,1);
      opacity: 1;
      position: absolute;
      top: 3235px;
      left: 140px;
      border-bottom-left-radius: 28px;
      border-bottom-right-radius: 31px;
      overflow: hidden;
      transform: rotate(90deg);
    }
    .v9_37 {
      width: 153px;
      height: 179px;
      background: url("../images/v9_37.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 3291px;
      left: 104px;
      border-top-left-radius: 21px;
      border-top-right-radius: 21px;
      border-bottom-left-radius: 21px;
      border-bottom-right-radius: 21px;
      overflow: hidden;
    }
    .v9_38 {
      width: 183px;
      color: rgba(9,122,89,1);
      position: absolute;
      top: 3495px;
      left: 89px;
      font-family: Montserratsemibold;
      font-weight: SemiBold;
      font-size: 20px;
      opacity: 1;
      text-align: center;
    }
    .v9_39 {
      width: 360px;
      height: 2366px;
      background: linear-gradient(rgba(255,255,255,1), rgba(209,209,209,1));
      opacity: 1;
      position: absolute;
      top: 4503px;
      left: 0px;
      overflow: hidden;
    }
    .v9_40 {
      width: 184px;
      height: 10px;
      background: rgba(249,180,25,1);
      opacity: 1;
      position: absolute;
      top: 6869px;
      left: 0px;
      overflow: hidden;
    }
    /*
    .v9_41 {
      width: 67px;
      height: 4px;
      background: rgba(249,180,25,1);
      opacity: 1;
      position: absolute;
      top: 4344px;
      left: 72px;
      overflow: hidden;
    }
      */
    .v9_42 {
      width: 176px;
      height: 10px;
      background: rgba(22,188,140,1);
      opacity: 1;
      position: absolute;
      top: 6869px;
      left: 184px;
      overflow: hidden;
    }
    /*
    .v9_43 {
      width: 63px;
      height: 4px;
      background: rgba(9,82,55,1);
      opacity: 1;
      position: absolute;
      top: 4344px;
      left: 5px;
      overflow: hidden;
    }
      */
    .v9_44 {
      width: 183px;
      color: rgba(9,122,89,1);
      position: absolute;
      top: 2500px;
      left: 89px;
      font-family: Montserratmedium;
      font-weight: Medium;
      font-size: 14px;
      opacity: 1;
      text-align: center;
    }
    .v9_45 {
      width: 183px;
      color: rgba(9,122,89,1);
      position: absolute;
      top: 3040px;
      left: 88px;
      font-family: Montserratmedium;
      font-weight: Medium;
      font-size: 14px;
      opacity: 1;
      text-align: center;
    }
    .v9_46 {
      width: 183px;
      color: rgba(9,122,89,1);
      position: absolute;
      top: 3662px;
      left: 89px;
      font-family: Montserratmedium;
      font-weight: Medium;
      font-size: 14px;
      opacity: 1;
      text-align: center;
    }
    .v9_47 {
      width: 132px;
      color: rgba(249,180,25,1);
      position: absolute;
      top: 4240px;
      left: 114px;
      font-family: vuja;
      font-weight: Regular;
      font-size: 18px;
      opacity: 1;
      text-align: left;
    }
    .v9_48 {
      width: 176px;
      height: 328px;
      background: rgba(249,180,25,1);
      opacity: 1;
      position: absolute;
      top: 4486px;
      left: 21px;
      border-bottom-left-radius: 28px;
      border-bottom-right-radius: 31px;
      transform: rotate(-90deg);
      overflow: hidden;
    }
    .v9_49 {
      width: 228px;
      height: 161px;
      background: url("../images/v9_49.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 4569px;
      left: 29px;
      border-top-left-radius: 21px;
      border-top-right-radius: 21px;
      border-bottom-left-radius: 21px;
      border-bottom-right-radius: 21px;
      overflow: hidden;
    }
    .v9_50 {
      width: 321px;
      color: rgba(9,122,89,1);
      position: absolute;
      top: 4827px;
      left: 19px;
      font-size: 14px;
      font-family: Montserratmedium;
      opacity: 1;
      text-align: left;
    }
    .v9_51 {
      width: 322px;
      color: rgba(9,122,89,1);
      position: absolute;
      top: 5459px;
      left: 19px;
      font-size: 14px;
      font-family: Montserratmedium;
      opacity: 1;
      text-align: left;
    }
    .v9_52 {
      width: 322px;
      color: rgba(9,122,89,1);
      position: absolute;
      top: 6051px;
      left: 19px;
      font-family: Montserratmedium;
      font-weight: Regular;
      font-size: 14px;
      opacity: 1;
      text-align: left;
    }
    .v9_53 {
      width: 319px;
      color: rgba(9,122,89,1);
      position: absolute;
      top: 6598px;
      left: 20px;
      font-family: Montserratmedium;
      font-weight: Regular;
      font-size: 14px;
      opacity: 1;
      text-align: left;
    }
    .v9_54 {
      width: 251px;
      color: rgba(9,82,55,1);
      position: absolute;
      top: 4748px;
      left: 54px;
      font-family: Montserratbold;
      font-weight: Bold;
      font-size: 20px;
      opacity: 1;
      text-align: center;
    }
    .v9_55 {
      width: 181px;
      color: rgba(9,82,55,1);
      position: absolute;
      top: 5365px;
      left: 89px;
      font-family: Montserratbold;
      font-weight: Bold;
      font-size: 20px;
      opacity: 1;
      text-align: center;
    }
    .v9_56 {
      width: 185px;
      color: rgba(9,82,55,1);
      position: absolute;
      top: 5927px;
      left: 87px;
      font-family: Montserratbold;
      font-weight: Bold;
      font-size: 20px;
      opacity: 1;
      text-align: center;
    }
    .v9_57 {
      width: 182px;
      color: rgba(9,82,55,1);
      position: absolute;
      top: 6481px;
      left: 89px;
      font-family: Montserratbold;
      font-weight: Bold;
      font-size: 20px;
      opacity: 1;
      text-align: center;
    }
    .v9_58 {
      width: 172px;
      height: 194px;
      background: rgba(249,180,25,1);
      opacity: 1;
      position: absolute;
      top: 5722px;
      left: 205px;
      border-bottom-left-radius: 28px;
      border-bottom-right-radius: 31px;
      transform: rotate(90deg);
      overflow: hidden;
    }
    .v9_59 {
      width: 148px;
      height: 156px;
      background: url("../images/v9_59.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 5741px;
      left: 200px;
      border-top-left-radius: 21px;
      border-top-right-radius: 21px;
      border-bottom-left-radius: 21px;
      border-bottom-right-radius: 21px;
      overflow: hidden;
      
    }
    .v9_60 {
      width: 176px;
      height: 271px;
      background: rgba(9,82,55,1);
      opacity: 1;
      position: absolute;
      top: 5118px;
      left: 135px;
      border-bottom-left-radius: 28px;
      border-bottom-right-radius: 31px;
      transform: rotate(90deg);
      overflow: hidden;
    }
    .v9_61 {
      width: 228px;
      height: 152px;
      background: url("../images/v9_61.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 5176px;
      left: 103px;
      border-top-left-radius: 21px;
      border-top-right-radius: 21px;
      border-bottom-left-radius: 21px;
      border-bottom-right-radius: 21px;
      overflow: hidden;
    }
    .v9_62 {
      width: 166px;
      height: 194px;
      background: rgba(249,180,25,1);
      opacity: 1;
      position: absolute;
      top: 5722px;
      left: -7px;
      border-bottom-left-radius: 28px;
      border-bottom-right-radius: 31px;
      transform: rotate(-90deg);
      overflow: hidden;
    }
    .v9_63 {
      width: 147px;
      height: 156px;
      background: url("../images/v9_63.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 5742px;
      left: 19px;
      border-top-left-radius: 21px;
      border-top-right-radius: 21px;
      border-bottom-left-radius: 21px;
      border-bottom-right-radius: 21px;
      overflow: hidden;
    }
    .v9_64 {
      width: 172px;
      height: 339px;
      background: rgba(9,82,55,1);
      opacity: 1;
      position: absolute;
      top: 6200px;
      left: 10px;
      border-bottom-left-radius: 28px;
      border-bottom-right-radius: 31px;
      transform: rotate(-90deg);
      overflow: hidden;
    }
    .v9_65 {
      width: 151px;
      height: 156px;
      background: url("../images/v9_65.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 6294px;
      left: 104px;
      border-top-left-radius: 21px;
      border-top-right-radius: 21px;
      border-bottom-left-radius: 21px;
      border-bottom-right-radius: 21px;
      overflow: hidden;
    }
    .v9_66 {
      width: 361px;
      height: 547px;
      background: rgba(9,82,55,1);
      opacity: 1;
      position: absolute;
      top: 6879px;
      left: 0px;
      overflow: hidden;
    }
    .v9_67 {
      width: 322px;
      color: rgba(255,255,255,1);
      position: absolute;
      top: 7360px;
      left: 14px;
      font-family: Montserratmedium;
      font-weight: Medium;
      font-size: 10px;
      opacity: 1;
      text-align: center;
    }
    .name {
      color: #fff;
    }
    .v9_69 {
      width: 181px;
      color: rgba(255,255,255,1);
      position: absolute;
      top: 6991px;
      left: 85px;
      font-family: Montserratsemibold;
      font-weight: SemiBold;
      font-size: 12px;
      opacity: 1;
      text-align: center;
    }
    .v9_70 {
      width: 80px;
      height: 82px;
      background: url("../images/v9_70.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 6909px;
      left: 136px;
      overflow: hidden;
    }
    .v9_71 {
      width: 204px;
      color: rgba(255,255,255,1);
      position: absolute;
      top: 7183px;
      left: 85px;
      font-family: Montserratmedium;
      font-weight: Medium;
      font-size: 13px;
      opacity: 1;
      text-align: left;
    }
    .v9_72 {
      width: 274px;
      color: rgba(255,255,255,1);
      position: absolute;
      top: 7206px;
      left: 86px;
      font-family: Montserratmedium;
      font-weight: Medium;
      font-size: 13px;
      opacity: 1;
      text-align: left;
    }
    .v9_73 {
      width: 231px;
      color: rgba(255,255,255,1);
      position: absolute;
      top: 7229px;
      left: 85px;
      font-family: Montserratmedium;
      font-weight: Medium;
      font-size: 13px;
      opacity: 1;
      text-align: left;
    }
    .v9_74 {
      width: 204px;
      color: rgba(255,255,255,1);
      position: absolute;
      top: 7066px;
      left: 86px;
      font-family: Montserratmedium;
      font-weight: Medium;
      font-size: 13px;
      opacity: 1;
      text-align: left;
    }
    .v9_75 {
      width: 204px;
      color: rgba(255,255,255,1);
      position: absolute;
      top: 7092px;
      left: 86px;
      font-family: Montserratmedium;
      font-weight: Medium;
      font-size: 13px;
      opacity: 1;
      text-align: left;
    }
    .v9_76 {
      width: 204px;
      color: rgba(255,255,255,1);
      position: absolute;
      top: 7117px;
      left: 86px;
      font-family: Montserratmedium;
      font-weight: Medium;
      font-size: 13px;
      opacity: 1;
      text-align: left;
    }
    .name {
      color: #fff;
    }
    .v9_78 {
      width: 164px;
      color: rgba(255,255,255,1);
      position: absolute;
      top: 7271px;
      left: 98px;
      font-family: Montserratsemibold;
      font-weight: SemiBold;
      font-size: 14px;
      opacity: 1;
      text-align: left;
    }
    .v9_79 {
      width: 132px;
      height: 33px;
      background: url("../images/v9_79.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 7296px;
      left: 98px;
      overflow: hidden;
    }
    .v9_80 {
      width: 33px;
      height: 33px;
      background: url("../images/v9_80.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 0px;
      left: 99px;
      overflow: hidden;
    }
    .v9_81 {
      width: 33px;
      height: 33px;
      background: url("../images/v9_81.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 0px;
      left: 0px;
      overflow: hidden;
    }
    .v9_82 {
      width: 33px;
      height: 33px;
      background: url("../images/v9_82.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 0px;
      left: 0px;
      overflow: hidden;
    }
    .v9_83 {
      width: 33px;
      height: 33px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: absolute;
      top: 0px;
      left: 0px;
    }
    .v9_84 {
      width: 35px;
      height: 33px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: absolute;
      top: 0px;
      left: 48px;
    }
    .v9_85 {
      width: 33px;
      height: 33px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: absolute;
      top: 0px;
      left: 0px;

    }


    .v7_93d {
      width: 132px;
      height: 33px;
      background: url("../images/v7_93.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 7296px;
      left: 95px;
      overflow: hidden;
    }
    .v7_94d {
      width: 33px;
      height: 33px;
      background-image: url("../images/icongx.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 0px;
      left: 0px;
      overflow: hidden;
    }
    .v7_95d {
      width: 33px;
      height: 33px;
      background-image: url("../images/iconfb.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 0px;
      left: 50px;
      overflow: hidden;
    }
    .v7_96d {
      width: 33px;
      height: 33px;
      background-image: url("../images/iconwha.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 0px;
      right: 0px;
      overflow: hidden;
    }

    .v1_494 {
      width: 179px;
      height: 1px;
      
      opacity: 1;
      position: absolute;
      top: 7164px;
      left: 87px;
      overflow: hidden;
      border-radius: 1px;
      border: 3px solid rgba(255, 255, 255, 1)
  
      
      
    }
      .v1_495 {
      width: 322px;
      height: 1px;
      
      opacity: 1;
      position: absolute;
      top: 7354px;
      left: 17px;
      overflow: hidden;
      border-radius: 1px;
      border: 3px solid rgba(255, 255, 255, 1)
  
      
      
    }
    .nav{
      background-color:black;
  
    }
    
   .nav_container{
    background: linear-gradient(180deg, #DCDCDC 0%, #FFFFFF 100%);
    width: 360px;
    height: 73px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    --icon-toggle-menu: url("../images/close.png");
    --transform-menu-show: translate(-100%);
  
   }
  
  .nav_container:has(.nav_input:checked){
    --icon-toggle-menu: url("../images/menugreen.png");
    --transform-menu-show: traslate(0);
     
      
  }
  .nav_input{
    width: 40px;
    height: 40px;
    opacity: 0;
  }
  
  
  .nav_list{
    position: absolute;
    background-color:rgba(9, 122, 89, 1);
  display: grid;
    inset:0;
    padding: 1.5rem 7%;
   
    place-content: center;
    gap: 2rem;
  
  
    list-style : none ;
    width: 173px;
    height: 334px;
    top: 9px;
    left: 359px;
    z-index: 9996;
    transform: var(--transform-menu-show);
    transition: .1s transform;
    font-family: Montserratsemibold;
    
  }
  
  .nav_figure,   .nav_toggle{
    z-index: 10;
  }
  
  .nav_toggle{
    margin-top: 30px;
    width: 32px;
    height: 32px;
    background-image: var(--icon-toggle-menu);
    background-size: cover;
    cursor: pointer;
    right: 10px;
    position: absolute;
    transition: background-image .5s;
    z-index: 9999;
  }
  
  
  
  
  
  
  .nav_link{
    color: white;
    text-decoration: none;
  } 

  }